<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2018-12" sequenceNumber="1633007931">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.10.0.v20181206-0815"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.10.0.v20181206-0815"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.16.0.v20181206-1038"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.100.v20180822-1357"/>
      <unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.1.1.v201804042202"/>
      <unit id="org.eclipse.emf.feature.group" version="2.16.0.v20181206-1055"/>
      <unit id="org.eclipse.pde.feature.group" version="3.13.300.v20181206-0815"/>
      <unit id="org.eclipse.jdt" version="3.16.0.v20181206-0815"/>
      <repository id="eclipse-2018-12" location="http://download.eclipse.org/releases/2018-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="2.23.0.v20181106-1534"/>
      <repository id="eclipse-orbit-2018-12" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20181128170323/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.engine.groovy.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.engine.jruby.feature.feature.group" version="0.0.0"/>
      <repository id="ease-engines" location="https://eclipse-ease-addons.github.io/org.eclipse.ease.engines.p2/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.py4j.feature.feature.group" version="0.0.0"/>
      <repository id="py4j-eclipse" location="http://eclipse.py4j.org/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.junit.jupiter.api" version="5.7.1.v20210222-1948"/>
      <unit id="org.junit.jupiter.engine" version="5.7.1.v20210222-1948"/>
      <unit id="org.junit.jupiter.params" version="5.7.1.v20210222-1948"/>
      <repository id="eclipse-2021-06" location="https://download.eclipse.org/releases/2021-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
      <repository id="pydev" location="http://www.pydev.org/updates"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
